*, *:before, *:after{
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
body{
	height: 500vh;
	width: 100%;
}
*{
	font-size: 18px;
}
h1{
	font-size: 2.1em;
	text-align: center;
}
h2{
	font-size: 1.4em;
	text-align: center; 
}
h3{
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
}
p{
	font-size: 
}
.blue_divider{
    width: 250px;
    height: 4px;
    background: #12294d;
    margin: 0 auto;
}
.section{
	width: 100%;
}
/*me*/
#me{
	margin-top: 65px;
}
#me p{
	margin-bottom: 7px;
}
#me .img{
	text-align: center;
}
.fa-award{
    font-size: 1.7em;
    padding: 4px;
    color: #fa7217;
}
.un{
/*	background-color: pink;*/
}
.container{
/*	background-color: yellow;*/
}
/*skills*/
#skills{
	margin-bottom: 25px;
}
.progress-mobile{
	margin-bottom: 15px;
    height: 50px;
}
.je{
	margin-top: 15px;
}
/*xp*/
#xp{
	margin-bottom: 25px;
}
/*portfolio*/
#portfolio{
	margin-bottom: 25px;
}
/*reading*/
#reading{
	background-color: white;
	margin: 25px 0;
}
.carousel-control-prev-icon:after{
	/*content: '<';*/
	font-size: 55px;
	color: #12294d;
}
.carousel-control-next-icon:after{
	/*content: '>';*/
	font-size: 55px;
	color: #12294d;
}
.carousel-item{
/*	color: #12294d;*/
}
.carousel-item h3, .carousel-item h4{
	text-align: center;
}
.carousel-item h3{
	font-style: italic;
	color: #12294d;
}
.carousel-item h4{
	text-shadow: 2px 2px 2px grey;
}
.slide{
	display: flex;
	align-items: center;
}
.slide p{
	float: right;
	padding: 0 115px 0 45px;
/*	text-align: justify;*/
}
.slide img{
	/*padding: 0 0 0 150px;*/
}
.stars{
	margin-bottom: 5px;
	color: #12294d;
}
#resume{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*favs*/