/*Polices: IBM PLEX --> font-family: 'IBM Plex Serif', serif;

            --> font-family: 'IBM Plex Mono', monospace;

            --> font-family: 'IBM Plex Sans Condensed', sans-serif;
*/
/*GENERAL*/
body{
    font-family: 'IBM Plex Serif', serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
img{
    max-width: 100%;
    height: auto;
}
.glyphicon-info-sign{
    color: white;
    background-color: #0091bd;
}
section{
    padding: 45px 0 80px 0;
}
section .heading{
    text-align: center;
    padding-bottom: 40px;
}
section .heading h2{
    color: #fff;
    text-transform: uppercase;
}
.blue_divider{
    width: 100px;
    height: 2px;
    background: #0091bd;
    margin: 0 auto;
}
.orange_divider{
    width: 100px;
    height: 2px;
    background: #f6a860;
    margin: 0 auto;
}
.green_divider{
    width: 100px;
    height: 2px;
    background: #44b04a;
    margin: 0 auto;
}
/*MENU*/
.navbar{
    background-color: #0091bd;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar .navbar-nav{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse{
    text-align: center;
}
.navbar li a{
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a{
    color: #0091bd !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle{
    border-style: none !important;
}
.icon-bar{
    background-color: #fff !important;
}
/*ABOUT*/
.fa-award{
	font-size: 2.8em;
	padding: 4px;
	color: #fa7217;
}
#about{
    padding-top: 100px;
    background-color: #0091bd;
}
.profile-picture{
    text-align: center;
    margin: 0 auto;
    float: none;
}
#about .heading h1{
    color: white;
    text-transform: uppercase;
}
#about .heading h3{
    color: #000;
}
#accroche{
	font-size: 1.2em;
	color: #fff;
	font-style: italic;
}
.button1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    display: inline-block;
    transition: all 0.3s ease-in 0s;
}
.button1:hover{
    background: white;
    color: #0091bd;
    text-decoration: none;
}
/*COMPETENCES*/
#skills{
    background: #fff;
}
#skills h1{
    color: #0091bd;
    text-transform: uppercase;
}
#skills .progress{
    height: 100%;
    margin: 30px 20px;
    backface-visibility: #ddd;
}
#skills .progress h5{
    text-shadow: 1px 1px 1px black; 
}
#skills .progress-bar{
    background: #0091bd;
}
/*EXPERIENCE PRO*/
#experience{
    background-color: #0091bd;
}
.white_divider{
    width: 100px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
}
.timeline{
    padding: 30px 10px;
    position: relative;
    list-style: none;
}
.timeline:before{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:after{
    clear: both;
}
.timeline > li:before, .timeline > li:after{
    content: " ";
    display: table;
}
.timeline li .timeline-badge{
    color: #0091bd;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted{
    width: 50%;
    float: right;
}
.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    background-color: #fff;
}
.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}
.timeline-panel:after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left:-14px;
    right: auto;
}
.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4{
    color: #0091bd;
}
/*education*/
#education{
    background-color: #fff;
}
#education .heading h2{
    color: #0091bd;
}
.education-block{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-color: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}
.education-block h5{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block .glyphicon{
    font-size: 40px;
}
.education-block h3{
    color: #0091bd;
}
.education-block h4{
    margin-bottom: 20px;
}
.education-block p{
    font-weight: bold;
}
.education-block .blue_divider{
    margin-bottom: 20px;
}
.openclass a, .openclass h3, .openclass h5{
    color: #f36a10;
    text-decoration: none;
}
.udemy a, .udemy h3, .udemy h5{
    color: #44b04a;
    text-decoration: none;
}
.logopen{
    width: 80px;
    height: 78px;
}
.logu{
    width: 50px;
    height: 50px;
}
#education .open{
    background: #f36a10;
}
#education .udem{
    background: #44b04a;
}
.education-block .orange_divider{
    margin-bottom: 20px;
}
.education-block .green_divider{
    margin-bottom: 20px;
}
.open-progress-bar{
    width:;
    margin-left: ;
    margin-top: ;
}
.udemy-progress-bar{
    width: ;
}
/*PORTFOLIO*/
#portfolio{
    background-color: #0091bd;
}
#portfolio .heading h2{
    color: #fff;
}
#portfolio .thumbnail img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
#portfolio .thumbnail img:hover{
    filter: none;
    -webkit-filter: none;
}
.legende{
    text-align: center;
    color: #fff;
    font-size: 1.3em;
}
/*Lectures*/
#car_lec{
    background-color: #fff;
}
#car_lec .heading h2{
    color: #0091bd;
}
.carousel-control.left, .carousel-control.right{
    background-image: none;
    color: #0091bd;
}
.carousel-indicators{
    bottom: 0px;
}
.carousel-indicators li{
    border-color: #0091bd;
}
.carousel-indicators li.active{
    background-color: #0091bd;
}
#livrousel .item{
    padding: 40px 30px;
}
#livrousel .item h3{
    color: #0091bd;
    font-style: italic;
}
#livrousel .item h4{
    text-shadow: 2px 2px 2px grey;
}
/*ppref*/
#ppref{
    background-color: #0091bd;
}
/*FOOTER*/

#footer{
    background-color: #333;
    padding: 20px 0 40px;
}
#footer .glyphicon{
    font-size: 25px;
    margin: 20px;
    color: #0091bd;
    height: 30px;
}
#footer .glyphicon:hover{
    font-size: 27px;
}
#footer h5, #footer p{
    color: #fff;
    font-weight: normal;
    font-size: 11px;
}
